<!DOCTYPE html>
<html>
  <head>
    <title>Pokémon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="dist/css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header class="main-header p-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6"><h1>Pokédex</h1></div>
          <div class="col-6 text-end">
            Première génération - Kanto
          </div>
        </div>
      </div>
      <div class="container py-4 mb-4">
        <div class="row">
          <div class="col">
            <div class="search-pokemon border-bottom border-light">
              Cherchez un pokémon
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div id="app">
          <div v-if="isOpen" class="backdrop" @click="openModal(0)"></div>
          <div v-if="items && items.results" class="row">
            <div class="col d-flex justify-content-center">
              <div class="card pokemon__card p-4">
                <h3><strong>Nombre total de Pokémon</strong></h3>
                <h2>{{ pokemonCount }}</h2>
              </div>
              <div class="card pokemon__card p-4">
                <h3><strong>Types totaux</strong></h3>
                <h2 v-if="pokemonTypes">{{ pokemonTypes }}</h2>
              </div>          
            </div>
          </div>
          <div class="row">
            <div class="accordion">
              <div class="col-12 accordion-item border-0 p-4" v-if="items && items.results" v-for="(item, index) in items.results" :key="index">
                <div class="accordion-header pokemon__grid d-flex" type="button" @click="getDetail(item.url, index), openModal(0)" data-bs-toggle="collapse" :data-bs-target=`#collapsePokemon${index}` aria-expanded="false" aria-controls="collapsePokemon">
                  <div><img src="dist/img/image.png"></div>
                  <div><strong>{{ item.name }}</strong></div>
                  <div class="ms-auto">{{ index + 1 }}</div>
                </div>
                <div class="accordion-collapse collapse" v-if="details[index]" :id=`collapsePokemon${index}`>
                  <div class="row">
                    <div class="col-12">
                      <ul class="pokemon__list">
                        <li class="py-2">Type <span class="pokemon__type mx-2" v-for="type in details[index].types">{{ type.type.name }}</span></li>
                        <li class="py-2">Height <span>{{ details[index].height }} m</span></li>
                        <li class="py-2">Weight <span>{{ details[index].weight }} kg</span></li>
                      </ul>
                    </div>                  
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <button class="btn pokemon__btn" @click="openModal(`modalCustom${index}`)">See Full card</button>
                    </div>
                  </div>

                  <div v-if="openedModal === `modalCustom${index}`" class="custom-modal p-4" :id=`modalCustom${index}`>
                    <div class="container">
                      <div class="row">
                        <div class="col-6 d-flex justify-content-center align-items-end">
                          <img :src="details[index].sprites.front_default" />
                        </div>
                        <div class="col-6">
                          <h2><strong>{{ item.name }}</strong></h2>
                          <ul class="m-0 p-0">
                            <li class="py-3">Type <span class="pokemon__type mx-2" v-for="type in details[index].types">{{ type.type.name }}</span></li>
                            <li class="py-3">Height <span>{{ details[index].height }} m</span></li>
                            <li class="py-3">Weight <span>{{ details[index].weight }} kg</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>   
    <script src="dist/js/app.js"></script>

    <script>
      const { createApp } = Vue
      createApp({
        data() {
          return {
            items: [],
            details: [],
            pokemonCount: 0,
            pokemonTypes: null,
            openedModal: null,
            isOpen: false,
      
          }
        },
        methods: {
          async getData(){
            const res = await fetch('https://pokeapi.co/api/v2/pokemon/?limit=151')
            let finalRes = await res.json()
            this.items = finalRes
            this.pokemonCount = this.items.results.length
            this.pokemonTypes =  await this.getTypes(finalRes.results)

          },
          async getDetail(url, index){
            const res = await fetch(url)
            let finalRes = await res.json()
            this.details[index] = finalRes          
          },
          
          removeDuplicates(arr) {
            return arr.filter((item,index) => arr.indexOf(item) === index);
          },

          openModal(modal){
            this.openedModal = modal
            this.isOpen = (modal !== 0) ? true: false

          },

          async getTypes(items){
            let types = []
            await items.forEach( i => {
              fetch(i.url)
                .then(r => r.json())
                .then( d => {
                  d.types.forEach(t => {
                    types.push(t.type.name)
                  })
                })
            })
            setTimeout(() => {
              this.pokemonTypes = this.removeDuplicates(types).length
            }, 1000);

          }

        },
        mounted(){
          this.getData()
        }
      }).mount('#app')      
    </script>

  </body>
</html>